{erl_opts, [debug_info]}.

{deps, [
    {jsx, "3.1.0"},  % JSON parsing
    {gun, "2.0.1"}   % Modern HTTP client
]}.

{relx, [
    {release, {aircraft_alert, "1.0.0"},
     [aircraft_alert, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{plugins, [rebar3_hex]}.
